# Example configuration for training
batch_size: 1
epochs: 2
learning_rate: 2e-4
model_name: "unsloth/Qwen3-VL-2B-Instruct"
output_model_path: "models/qwen3vl-2b-16bf-signs-responses-only"
# model_name: "unsloth/Qwen2.5-VL-3B-Instruct-unsloth-bnb-4bit"
# model_name: "models/unsloth_lora"
train_data_path: "data/train/train.json"
infer_data_path: "data/public_test/public_test.json"
use_unsloth: true

use_wandb: true
wandb_run_name: "tryourbest/qwen3vl-2b-16bf-signs-responses-only"

# Push to Hugging Face Hub settings
push_to_hub: true  # Set to true to enable pushing
hub_model_id: "tryourbest/qwen3vl-2b-16bf-signs-responses-only"  # Your target repo name

# Quantization: Unsloth currently honors only 4bit via load_in_4bit
quantization:
  enabled: false
  mode: "4bit"

lora:
  r: 32 # The larger, the higher the accuracy, but might overfit
  lora_alpha: 32  # Recommended alpha == r at least

